/* <!-- --------------------- Imagem de fundo --------------------- --> */

.heading-content {
    position: absolute;
    /* margin-left: 20%; */
    padding-left: 45%;
    top: 20%;
    width: 100%;
    max-width: 100%;
}

body {
    background-color: #eaeaea;
}

.heading-content h5 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

.heading-content h3 {
    font-size: 1.4em;
    font-weight: 300;
    color: #fff;
    text-align: justify;
    padding-right: 10%;
}


/* <!-- --------------------- Formação acadêmica --------------------- --> */

#academic-education img {
    display: block;
    width: 150px;
    height: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#academic-education-content {
    padding-left: 5%;
    padding-right: 5%;
}

#academic-education h1 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

#academic-education-content {
    margin: 2%;
}

#ifpr-education {
    padding-bottom: 2em;
}

.ccaa-education-image {
    /* border: 3px solid #ef9aec; */
    border-right: 3px solid #b3b3b3ab;
    position: relative;
    /* width: 50%; */
}

.education-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.link-education {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.ccaa-education-image:hover .education-image {
    opacity: 0.3;
}

.ccaa-education-image:hover .link-education {
    opacity: 1;
}

.link-education-text {
    background-color: #cebfbfab;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/* .know-more-button button {
    padding-top: 10%;
} */


/* 
.ifpr-education {
    padding-left: 10px;
}

#ifpr-education img {
    width: 7em;
} */

.know-more-button {
    margin-bottom: 2em;
    box-shadow: inset 0px 34px 0px -15px #b3b3b3ab;
    background-color: #b3b3b3c5;
    border: 1px solid #292827;
    display: inline-block;
    cursor: alias;
    color: #ffffff;
    font-family: Arial;
    font-size: 1.4em;
    font-weight: bold;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #0c0201;
}

.know-more-button:hover {
    background-color: #837d7dc5;
}

.know-more-button:active {
    position: relative;
    top: 1px;
}


/* ----- Contact */

#contact h1 {
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 0.5em;
    text-align: center;
}

#contact-content {
    margin: 2%;
    row-gap: 3rem;
}

#contact-methods {
    /* display: flex; */
    margin-bottom: 2em;
}

#contact-phone span {
    margin-left: 5.5%;
}

#contact-email span {
    margin-left: 5.5%;
}

#contact-phone {
    margin-bottom: 3%;
}

#contact-email {
    margin-bottom: 3%;
}

.contact-icon {
    font-size: 1.8rem;
    vertical-align: middle;
    color: var(--first-color);
    margin-right: var(--h3-font-size);
}


/* 
#your-message {
    font-size: 1.5em;
    font-weight: 7000;
    padding-bottom: 0.5em;
} */